article,
aside,
footer,
header,
nav,
section {
    display: block;
}
body {
    background-color: #000;
    color: #eee;
    width: 900px;
    margin: 20px auto;
    padding: 20px;
    font-family: Terminal, monospace;
    line-height: 1.6;
}
header {
    padding: 1rem;
    text-align: center;
}
h1 {
    color: #0f0;
}
p {
    margin-bottom: 1.5rem;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    color: #8be9fd;
    text-decoration: none;
    border-bottom: 1px solid #333;
}
a:hover {
    color: #9ccfd8;
    border-bottom: 1px solid #555;
}

.terminal {
    width: 100%;
    background-color: #111;
    border: 1px solid #555;
    padding: 10px;
    overflow: auto;
    height: 600px;
}
.prompt {
    color: #50fa7b;
    text-align: left;
}
.commands {
    display: flex;
    margin-bottom: 10px;
}
.command {
    color: #0f0;
    margin-right: 10px;
    margin-bottom: 12px;
    cursor: pointer;
    text-decoration: underline;
}
.output {
    color: #fff;
    display: none;
    text-align: justify;
    word-spacing: 2px;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.6;
    margin: 1rem;
}
