article,
aside,
footer,
header,
nav,
section {
    display: block;
}
body {
    background-color: #000;
    color: #eee;
    margin: 0;
    padding: 0;
    font-family: Terminal, monospace;
    line-height: 1.6;
}
header {
    padding: 1rem;
    text-align: center;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}
h1,
h2 {
    color: #0f0;
}
h2 {
    margin-bottom: 1rem;
}
p {
    margin-bottom: 1.5rem;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin-bottom: 1rem;
}
a {
    color: #8be9fd;
    text-decoration: none;
    border-bottom: 1px solid #333;
}
a:hover {
    color: #9ccfd8;
    border-bottom: 1px solid #555;
}
